<%- include('partials/header.ejs') %>
<body>

  <h2> Currently Open Tickets </h2>
  <div class="sidenav">
    Navigation
    <br><br>
  <nav>
    <a href="/technician/new" >Add a New Technician</a> <br>
    <a href="/technician/lookup" >Find and Update Technicians</a> <br>
    <a href="/customer/lookup" >Find, Update and Add Customers</a> <br>
  
    <br> </br>
    <a href="/technician/home">Technician Home</a>
    <br>
    <a href="/" >Logout</a>
    </nav>
  </div>
  
  <table>
    <thead>
      <tr>
        <th scope="col">Request ID</th>
        <th scope="col">Product</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Date Requested</th>
        <th scope="col">Technician Assigned</th>
        <th scope="col">Description</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <%for (i=0; i < tickets.length; i++){%>
      <tr>
        <td><%= tickets[i].requestId %></td>
        <td><%= tickets[i].productName %></td>
        <td><%= tickets[i].cFirstName %> <%= tickets[i].cLastName %></td>
        <td><%= tickets[i].timeRequested %></td>
        <td><%= tickets[i].tFirstName %> <%= tickets[i].tLastName %></td>
        <td><%= tickets[i].description %></td>
        <td>
          <a href="/ticket/edit?requestId=<%=tickets[i].requestId%>">Update</a>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
  
  <%- include('partials/footer.ejs') %>
</body>
</html>